<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="shortcut icon" href="/static/imgs/icos/we_ico.png" type="image/x-icon">
    <title>关于我们</title>
    <link rel="stylesheet" href="/static/css/aboutus.css">
    <script src="/static/js/jquery-3.1.1.min.js"></script>
    <script src="/static/js/aboutus.js"></script>
</head>
<body>
    <header>
        <div id="top">
            <div id="logo" class="lf">
                <a href="/">
                    <img src="/static/imgs/header/logo.jpg" alt="logo">
                </a>
            </div>
            <div id="nav" class="lf">
                <div onclick="location.href='/personregister'">人员登记</div>
                <div onclick="location.href='/personcheck'">人员识别</div>
                <div  onclick="location.href='/carregister'">车辆登记</div>
                <div  onclick="location.href='/carcheck'">车辆识别</div>
                <div class="isActive">关于我们</div>
            </div>
        </div>
    </header>
    <div id="main" class="clear">
        <div id="background">
            <div id="list" class="lf">
                <div class="items-group male">
                    <p>吕嘉绮</p>
                </div>
                <div class="items-group male">
                    <p>林天宇</p>
                </div>
                <div class="items-group female">
                    <p>范丛秧</p>
                </div>
                <div class="items-group male">
                    <p>黄梓林</p>
                </div>
                <div class="items-group male">
                    <p>杨宇恒</p>
                </div>
                <div class="items-group male">
                    <p>王润康</p>
                </div>
            </div>
    </div>
    </div>
    <footer></footer>
</body>
</html>